@model MostLikely.Models.StartGameModel

@{
    ViewBag.Title = "Most Likely";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2 class="roomId">@ViewBag.RoomID</h2>
            </hgroup>
        </div>
    </section>
}
@section scripts {
    <script src="~/Scripts/jquery.signalR-1.1.3.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script>
        var chat = $.connection.chat;

        var playerCount = @ViewBag.Players.Count;

        chat.client.send = function (nickname) {
            playerCount++;
            var source = "/Images/Icon_" + playerCount + ".png";
            $("#players").append('<li class="member"><div><img src="' + source + '" alt="' + source + '" width="50" height="50"/><p class="playerName">' + nickname + '</p></div></li>');
            if ($("#players li").length > 2) {
                document.getElementById("startGame").style.visibility = "visible";
            }
        };

        chat.client.startGame = function (question) {
            $("#firstQuestion").val(question);
            $("#frmStartGame").submit();
        }


        $(function () {
            $.connection.hub.start().done(function () {
                if ($("#players li").length > 2) {
                    document.getElementById("startGame").style.visibility = "visible";
                }
                chat.server.rejoinRoom("@ViewBag.RoomID", "@ViewBag.Nickname");

                $("#startGame").click(function () {
                    chat.server.startGame("@ViewBag.RoomID");
                })
            });
        });
    </script>
}



<ul id="players" class="members">
    @foreach(var player in ViewBag.Players)
    {
        var source = "/Images/Icon_" + player.IconId + ".png";
        <li class="member">
            <div>
                <img src="@source" alt="@source" width="50" height="50" />
                <p class="playerName">@player.NickName</p>
            </div>
            
        </li>
    }
</ul>

@using (Html.BeginForm("StartGame", "Home", FormMethod.Post, new { @id = "frmStartGame" }))
{
    @Html.HiddenFor(m => m.PlayerName, new { @Value = ViewBag.Nickname})
    @Html.HiddenFor(m => m.RoomID, new { @Value = ViewBag.RoomID })
    @Html.HiddenFor(m => m.Question, new { @id = "firstQuestion"})
}

<button id="startGame" style="visibility:hidden">Start Game</button>
